* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the page */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
header {
    display: flex;
    position: relative;
    background-color: #000000;
    color: #fff;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

/* Navigation menu styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

nav li {
    margin-right: 20px;
}

.home {
    display: grid;
    place-items: center;
}

/* Style for the horizontal line under the home class section */
.home-line {
    width: 100%;
    border: 0.5px solid #fff;
    margin: 20px 0;
}

/* Content container */
.container {
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90vh;
}

/* Text box and image styles */
/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the animation to the elements you want to animate */
.animated-fade-in {
    animation: fadeIn 3s ease forwards;
}

.text-box {
    max-width: 50%;
    padding: 80px;
    padding-top: 240px;
    text-align: start;
    margin-bottom: 50px;
    background-image: url('/img/Vector-1244.svg');
    background-size: 300px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.text-box p {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 100px;
}

.image-box {
    width: 400px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    background-image: url('/img/Vector-1271111.svg');
    background-size: 100px;
    background-repeat: no-repeat;
}

.image-box img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.gridd {
    padding: 5rem;
    height: auto;
    border-color: #708E82;
}

/* Grid container styles */
.grid-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    border-color: #708E82;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    max-width: 800px;
    align-items: center;
    overflow: auto;
    grid-template-areas: "a b c" "d d e" "d d e";
}

.img-1 {
    grid-area: a;
}

.img-2 {
    grid-area: b;
}

.img-3 {
    grid-area: c;
}

.img-4 {
    grid-area: d;
}

.img-5 {
    grid-area: e;
}

/* Grid cell styles */
.grid-cell {
    position: relative;
    background-color: #000000;
    padding: 10px;
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

/* Keyframes for image1 to come from left */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for image2 to come from top */
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for image3 to come from right */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for image4 to come from bottom */
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for image5 to come from left */
@keyframes fadeInRightToLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the animations to the grid items */
.img-1 {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.img-2 {
    animation-name: fadeInTop;
    animation-duration: 1s;
    animation-delay: 1s;
}

.img-3 {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-delay: 1.5s;
}

.img-4 {
    animation-name: fadeInBottom;
    animation-duration: 1s;
    animation-delay: 2s;
}

.img-5 {
    animation-name: fadeInRightToLeft;
    animation-duration: 1s;
    animation-delay: 2.5s;
}

/* Overlay styles */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s;
    z-index: 1;
    border-radius: 10px;
}

/* Hover effect for overlay */
.grid-cell:hover .overlay {
    background-color: #cdd37838;
}

.grid-cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s;
    z-index: -1;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.grid-cell:hover::before {
    background-color: rgba(255, 255, 255, 0.158);
    border: 2px solid rgba(255, 255, 255, 0.113);
}

/* Images within cells */
.grid-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Add border and rounded corners to images in grid cells */
.grid-image img {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

/* Footer */

/* Style for the horizontal line above the footer */
.footer-line {
    width: 100%;
    border: 0.5px solid #fff;
    margin: 0;
    margin-bottom: 20px;
}
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

/* Footer columns */
.footer-column {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 20px;
}

/* Footer headings */
.footer-column h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Social media links */
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.social-links li {
    margin-left: 10px;
}

.social-links img {
    width: 60px;
    height: 60px;
}

/* Container for Contact Form and Image Box */
.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: flex-start;
    padding: 20px;
    height: 100%;
    
}

@keyframes fadeInContactImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInContactForm {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the animations to the contact image and form with different durations */
.contact-image-box {
    flex: 1;
    text-align: center;
    max-width: 800px;
    width: 100%;
    animation: fadeInContactImage 2s ease forwards;
}

.contact-form {
    flex: 1;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    height: 90vh;
    animation: fadeInContactForm 3s ease forwards;
}

.contact-form {
    flex: 1;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    height: 90vh;
}

.contact-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    background-color: #708E82;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #8C181B;
}

/* Style for the Contact Image Box */
.contact-image-box {
    flex: 1;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.contact-image-box img {
    max-width: 100%;
    height: auto;
}

/* Styles for the portfolio container */
/* Keyframes for the fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the fade-in animation to .image-box-portfolio */
.image-box-portfolio {
    width: 100%;
    height: 300px;
    background-image: url('/img/Hhh111.svg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s ease forwards;
}

.portfolio-container {
    padding: 20px;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 200px;
    position: relative;
    transition: background-color 0.3s;
}

/* Keyframes for the left-to-right fade-in animation */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for the top-to-bottom fade-in animation */
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for the right-to-left fade-in animation */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the animations to the portfolio items */
.portfolio-item {
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
}

.item1 {
    animation-name: fadeInLeft;
    animation-delay: 0.5s;
}

.item2 {
    animation-name: fadeInTop;
    animation-delay: 1s;
}

.item3 {
    animation-name: fadeInRight;
    animation-delay: 1.5s;
}

/* Add overlay styles on hover */
.portfolio-item:hover {
    background-color: #cdd37838;
}

/* Mobile Styles */
@media (max-width: 768px) {
    /* Basic styling for the page */
    body {
        font-size: 16px;
    }

    /* Header styles */
    header {
        position:relative;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    .logo img {
        height: 50px;
        margin-right: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav li {
        margin: 10px 0;
    }

    /* Home styles */
    .container {
        flex-direction:column-reverse;
        align-items: center;
        padding: 20px;
        margin-top: 70px;
    }

    .text-box {
        max-width: 100%;
        padding: 30px;
        margin-top: 20px;
        text-align: center;
        background-image: none;
    }

    .text-box p {
        padding-bottom: 20px;
    }

    .image-box {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        width: auto;
        margin: 0 auto;
        background-image: none;
    }

    .image-box img {
        max-width: 100%;
        height: auto;
    }

    /* Grid styles */
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
    }
    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5 {
        grid-area: unset;
    }
    /* Footer columns for mobile view */
    .footer-column {
        text-align: center;
        margin-bottom: 20px;
        flex-basis: 100%;
    }
    /* Center-align the content in the second column */
    .footer-column:nth-child(2) {
        text-align: center;
    }

    /* Center-align the entire list in the second column */
    .footer-column:nth-child(2) ul {
        text-align: center;
        padding-left: 0;
        list-style-position: inside;
    }
    /* Center-align the list items within the list in the second column */
    .footer-column:nth-child(2) ul li {
        display: list-item;
        text-align: center;
        list-style-type: disc;
    }
    /* Social media links for mobile view */
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links li {
    margin-left: 10px;
}

.social-links img {
    width: 60px;
    height: 60px;
}

/* Contact page styles */
.contact-container {
    flex-direction: column;
    padding: 10px;
}

.contact-image-box {
    max-width: 100%;
    margin: 0 auto;
}

.contact-image-box img {
    width: 100%;
    height: auto;
}

.contact-form {
    max-width: 100vw;
    padding: 20px;
    margin: 0;
}

.contact-form h1 {
    font-size: 20px;
}
main {
    grid-template-columns: 1fr;
}

.image-box-portfolio {
    height: 200px;
}
.portfolio-item {
height: 200px;
padding: auto;
text-align: center;
grid-column: 1 / span 1;
}
}
@media (min-width: 769px) and (max-width: 1023px) {
 /* Basic styling for the page */
 body {
    font-size: 16px;
}

/* Header styles */
header {
    position:relative;
    top: 0;
    width: 100%;
    z-index: 3;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

nav li {
    margin: 10px 0;
}

/* Home styles */
.container {
    padding-top: 80px;
}

.text-box {
    background-image: none;
}

.text-box p {
    padding-bottom: 20px;
}

.image-box {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    width: auto;
    margin: 0 auto;
    background-image: none;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

/* Contact page styles */
.contact-container {
    
    padding: 10px;
}

.contact-image-box {
    max-width: 100%;
    margin: 0 auto;
}

.contact-image-box img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.contact-form {
    max-width: 100vw;
    padding: 20px;
    margin: 0;
}

.contact-form h1 {
    font-size: 20px;
}
}

/* Desktop Styles (1024px and larger) */
@media (min-width: 1024px) {
    
    .logo img {
        height: 60px;
        margin-right: 10px;
    }

    /* Home styles */
    .container {
        
        align-items: center;
        padding: 20px;
        padding-top: 120px;
    }

}


